@font-face {
    font-family: entypo;
    src: url('entypo.woff');
}
html, body {
    font-size: 14px;
    margin: 1px;
    padding: 0;
}
#wrapper {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
}
#code_txt_real {
    width: calc(100% - 260px);
    height: 90vh; /* Work around Chrome bug 168840*/
    height: calc(99vh - 40px);
}
#desaturator {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #000;
    display: none;
    z-index: 100;
    opacity: 0;
    display: none;
    transition: opacity 0.25s ease-out;
}
#codearea.desaturate #desaturator {
    display: block;
    opacity: 0.7;
}
#codearea {
    width: calc(100% - 460px);
    height: 90vh; /* Work around Chrome bug 168840*/
    height: calc(99vh - 40px);
    background: #ddd;
    position: relative;
    float: left;
    overflow: auto;
    order: 1;
    -webkit-order: 1;
    -ms-flex-order: 1;
    font-family: 'Monaco','Menlo','Ubuntu Mono','Droid Sans Mono','Consolas',monospace;
}
#toolbox {
    background: #ccf;
    float:left;
    height: 90vh; /* Work around Chrome bug 168840*/
    height: calc(99vh - 40px);
    width: 200px;
    overflow: auto;
    order: 2;
    -webkit-order: 2;
    -ms-flex-order: 2;
    font-family: 'Monaco','Menlo','Ubuntu Mono','Droid Sans Mono','Consolas',monospace;
}
#overlay-canvas {
    position: absolute;
    height: 90vh; /* Work around Chrome bug 168840*/
    height: calc(99vh - 40px);
    top: 0px;
    left: 0px;
    right: 200px;
    z-index: 100;
    display: none;
    pointer-events: none;
}
#outputarea {
    width: 260px;
    order: 3;
    -webkit-order: 3;
    -ms-flex-order: 3;
}
#outputarea textarea {
    margin-top: 260px;
    height: 240px;
    width: 240px;
}
#standard-canvas {
    z-index: 400;
    border: 1px solid black;
    position: absolute;
    width: 250px;
    height: 250px;
    left: calc(100% - 260px);
    top: 2px;
    transition: width 0.5s, height 0.5s, left 0.5s, top 0.5s;
}
#standard-canvas.big {
    position: absolute;
    width: 500px;
    height: 500px;
    right: auto;
    top: calc(50% - 250px);
    left: calc(50% - 250px);
}
.tile, .hole {
    border-radius: 5px;
}
.tile.operator {
    background: hsl(120, 50%, 50%);
    border: 2px outset hsl(120, 25%, 50%);
}
.tile.comparison-operator {
    background: hsl(240, 75%, 50%);
    border: 2px outset hsl(240, 75%, 25%);
}
.tile.request {
    background: hsl(300, 75%, 50%);
    border: 2px outset hsl(300, 75%, 25%);
}
.tile.vardec {
    background: hsl(0, 75%, 60%);
    border: 2px outset hsl(0, 75%, 30%);
}
.tile.defdec {
    background: hsl(345, 75%, 60%);
    border: 2px outset hsl(345, 75%, 30%);
}
.tile.var {
    background: hsl(0, 75%, 75%);
    border: 2px outset hsl(0, 75%, 65%);
}
.tile.assign {
    background: hsl(0, 50%, 75%);
    border: 2px outset hsl(0, 50%, 75%);
}
.tile.number {
    background: hsl(120, 75%, 50%);
    border-top: 2px outset;
    border-bottom: 2px inset;
    border-left: 8px outset;
    border-right: 8px inset;
    border-radius: 50%/35%;
    border-color: hsl(120, 75%, 25%);
}
input {
    border-radius: 3px;
}
.tile.string {
    background: hsl(120, 75%, 75%);
    border: 2px outset hsl(120, 75%, 35%);
}
.tile.string input {
    color: #080;
}
.tile.if {
    background: #88c;
    border: 2px outset #008;
    flex-direction: column;
    align-items: flex-start;
    -webkit-flex-direction: column;
    -webkit-align-items: flex-start;
    -ms-flex-direction: column;
    -ms-flex-align: start;
}
.tile.multiline {
    flex-direction: column;
    align-items: flex-start;
    -webkit-flex-direction: column;
    -webkit-align-items: flex-start;
    -ms-flex-direction: column;
    -ms-flex-align: start;
}
.tile.while {
    background: #88c;
    border: 2px outset #008;
    flex-direction: column;
    align-items: flex-start;
    -webkit-flex-direction: column;
    -webkit-align-items: flex-start;
    -ms-flex-direction: column;
    -ms-flex-align: start;
}
.tile.for {
    background: #88c;
    border: 2px outset #008;
    flex-direction: column;
    align-items: flex-start;
    -webkit-flex-direction: column;
    -webkit-align-items: flex-start;
    -ms-flex-direction: column;
    -ms-flex-align: start;
}
.tile.if > div, .tile.while > div, .tile.method > div, .tile.for > div, .tile.multiline > div.line, .tile.object > div, .tile.class > div {
    display: inline-flex;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    align-items: center;
    -webkit-align-items: center;
}
.tile.method {
    background: hsl(240, 100%, 75%);
    border: 2px outset hsl(240, 100%, 25%);
    flex-direction: column;
    align-items: flex-start;
    -webkit-flex-direction: column;
    -webkit-align-items: flex-start;
    -ms-flex-direction: column;
    -ms-flex-align: start;
}
.parameter-adder, .argument-adder {
    font-size: 0.65em;
    margin-bottom: 0.8em;
    color: #0f0;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
}
.parameter-adder:hover, .argument-adder:hover {
    background: #0f0;
    border-radius: 1em;
    color: white;
}
.tile:hover > div > .parameter-adder, .tile:hover > .argument-adder {
    opacity: 1.0;
}
.shrink .parameter-adder, .shrink .argument-adder {
    display: none;
}
.tile.object {
    background: hsl(210, 100%, 75%);
    border: 2px outset hsl(210, 100%, 25%);
    flex-direction: column;
    align-items: flex-start;
    -webkit-flex-direction: column;
    -webkit-align-items: flex-start;
    -ms-flex-direction: column;
    -ms-flex-align: start;
}
.tile.class {
    background: hsl(225, 100%, 75%);
    border: 2px outset hsl(180, 100%, 25%);
    flex-direction: column;
    align-items: flex-start;
    -webkit-flex-direction: column;
    -webkit-align-items: flex-start;
    -ms-flex-direction: column;
    -ms-flex-align: start;
}
.tile.inherits {
    background: hsl(195, 100%, 75%);
    border: 2px outset hsl(195, 100%, 25%);
}
.tile.print {
    background: #cc8;
    border: 2px outset #880;
}
.tile.dialect-method {
    background: hsl(300, 100%, 75%);
    border: 2px outset hsl(300, 100%, 25%);
}
.tile.dialect-method[data-category="Control"] {
    background: hsl(180, 25%, 65%);
    border: 2px outset hsl(90, 25%, 25%);
}
.tile.dialect-method[data-category="Turtle"] {
    background: hsl(90, 25%, 50%);
    border: 2px outset hsl(90, 100%, 25%);
}
.tile.dialect-method.constant[data-category="Turtle"] {
    background: hsl(90, 50%, 35%);
    border: 2px outset hsl(90, 100%, 25%);
}
.tile.dialect-method.constant {
    background: hsl(300, 25%, 75%);
    border: 2px outset hsl(300, 100%, 25%);
}
.tile.constant {
    background: #d48;
    border: 2px outset #804;
}
.tile.selfcall {
    background: hsl(210, 50%, 50%);
    border: 2px outset #606;
}
.shrink .tile.selfcall > input {
    margin-left: -1px;
    margin-right: -1px;
}
.shrink input.method-name {
    margin-right: -1px;
}
.shrink .op {
    margin-left: -1px;
}
.shrink .dialect-method.constant {
    margin-left: 1px;
}
.shrink .tile.method > div > .variable-name {
    margin-left: -1px;
    margin-right: -1px;
}
.shrink .tile.dialect-method > .hole .tile.number {
    margin-left: -1px;
    margin-right: -1px;
}
.shrink .tile.vardec .tile.operator .hole:nth-of-type(1) > .tile.var {
    margin-left: 1px;
}
.shrink .tile.defdec .tile.operator .hole:nth-of-type(1) > .tile.var {
    margin-left: 1px;
}
.shrink .tile .extra-indicator {
    display: none;
}
.tile {
    padding: 1px;
    width: auto;
    height: auto;
    display: inline-flex;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    float: left;
    position: absolute;
    white-space: nowrap;
    align-items: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    transition: opacity 0.5s;
}
.no-transition .tile, .no-transition .indent, .no-transition.hole {
    transition: none !important;
}
.tile.locked::after {
    content: "\01F512";
    font-family: entypo;
    float: right;
}
.tile span {
    display: inline-flex;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
}
.tile input {
    border: none;
}
.tile input[type=text] {
    font-family: 'Monaco','Menlo','Ubuntu Mono','Droid Sans Mono','Consolas',monospace;
    font-size: 14px;
}
.var-name::after {
    content: "\e760";
    content: "\25be";
    margin-top: 2px;
    font-family: entypo;
    font-size: 200%;
    line-height: 16px;
}
.shrink .var-name::after {
    display: none;
}
.tile.number input {
    color: blue;
}
.shrink .arrow {
    color: #687687;
}
.selected {
    z-index: 999;
    opacity: 0.5;
    cursor: default;
}
.popout {
    box-shadow: 0px 0px 8px 12px hsla(60, 100%, 75%, 0.75);
    z-index: 101;
}
@keyframes bounce-left {
    50% {
        margin-left: 16px;
    }
}
@keyframes bounce-right {
    50% {
        margin-left: -16px;
    }
}
@keyframes bounce-up {
    50% {
        margin-top: 16px;
    }
}
@keyframes bounce-down {
    50% {
        margin-top: -16px;
    }
}
@-webkit-keyframes bounce-left {
    50% {
        margin-left: 16px;
    }
}
@-webkit-keyframes bounce-right {
    50% {
        margin-left: -16px;
    }
}
@-webkit-keyframes bounce-up {
    50% {
        margin-top: 16px;
    }
}
@-webkit-keyframes bounce-down {
    50% {
        margin-top: -16px;
    }
}
.popout-arrow.up {
    animation: bounce-up 0.75s infinite;
    -webkit-animation: bounce-up 0.75s infinite;
}
.popout-arrow.down {
    animation: bounce-down 0.75s infinite;
    -webkit-animation: bounce-down 0.75s infinite;
}
.popout-arrow.left {
    animation: bounce-left 0.75s infinite;
    -webkit-animation: bounce-left 0.75s infinite;
}
.popout-arrow.right {
    animation: bounce-right 0.75s infinite;
    -webkit-animation: bounce-right 0.75s infinite;
}
.popout-arrow {
    color: hsla(60, 100%, 75%, 0.75);
    background: transparent;
    z-index: 101;
    position: absolute;
    font-family: entypo;
    line-height: 64px;
    font-size: 128px;
    -webkit-animation: flash-popout-arrow 0.75s infinite;
    animation: flash-popout-arrow 0.75s infinite;
}
.popout-arrow.error {
    color: hsla(330, 75%, 65%, 0.75);
}
.hole {
    background: #aaa;
    display: inline-flex;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    width: auto;
    min-height: 14px;
}
.hole:empty {
    min-width: 2em;
}
@keyframes flashbg {
    50% {
        background: hsl(330, 75%, 65%);
        border-color: hsl(330, 75%, 65%);
    }
}
@-webkit-keyframes flashbg {
    50% {
        background: hsl(330, 75%, 65%);
        border-color: hsl(330, 75%, 65%);
    }
}
.highlight {
    animation: flashbg 0.5s 4;
    -webkit-animation: flashbg 0.5s 4;
    z-index: 200;
}
#codearea .has-error {
    box-shadow: 0px 0px 2px 4px hsla(330, 100%, 50%, 0.85);
}
#codearea.desaturate .has-error {
    box-shadow: none;
}
.hole:not(:empty) {
    background: inherit;
}
#toolbox .tile {
    position: static;
    clear: both;
}
#category-bar {
    background: #ccf;
    position: absolute;
    height: 30px;
    padding: 2px;
    font-size: 0;
    display: none;
    z-index: 500;
    top: -32px;
    left: calc(100% - 262px);
    bottom: 9vh; /* Work around Chrome bug 168840*/
    bottom: calc(1vh + 38px);
    transform-origin: 0% 100%;
    transform: rotate(0.25turn);
    -webkit-transform-origin: 0% 100%;
    -webkit-transform: rotate(0.25turn);
    width: 90vh; /* Work around Chrome bug 168840*/
    width: calc(99vh - 44px);
}
#category-bar input {
    height: 100%;
}
.tile .op, .tile .cmpop {
    display:inline-flex;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    padding-left: 4px;
    padding-right: 4px;
    font-weight: bold;
}
.tile .op {
    color: black;
}
.tile .cmpop {
    color: #eee; /*#687687;*/
}
.tile .assop {
    margin-left: 1ex;
    margin-right: 1ex;
    color: black;
}
.shrink .tile .op, .shrink .tile .cmpop, .shrink .tile .assop {
    color: #687687;
}
#gracecode {
    display: none;
}
#stderr_txt {
    display: none;
}
.tile.bottom-join-target {
    border-bottom-color: yellow !important;
    border-bottom-style: solid !important;
}
.hole.multi {
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    align-items: flex-start;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
}
#bin {
    position: absolute;
    top: 0;
    right: 0;
    font-family: entypo;
    font-size: 80px;
    color: #444;
    line-height: 70%;
    cursor: default;
}
.tile.over-bin {
    opacity: 0.25;
    transition: opacity 0s;
}
.tile.over-bin, .over-bin .tile, .over-bin .hole, .tile.dialect-method.over-bin {
    background: red;
    border-color: red;
}
.indent {
    padding-left: 2ex;
    transition: padding 0.5s;
}
#codearea.shrink, #codearea.growing {
    background: white;
}
#codearea.shrink #bin, #codearea.growing #bin {
    display: none;
}
.tile {
    transition: background-color 0.5s, padding 0.5s, border-width 0.5s;
}
.shrink .tile, .shrink .hole {
    padding: 0;
    border: 0 !important;
    background: none !important;
    min-width: 0;
    transition: left 1s, top 1s, background-color 0.5s, padding 0.5s, border-width 0.5s;
    font-family: 'Monaco','Menlo','Ubuntu Mono','Droid Sans Mono','Consolas',monospace;
}
.shrink .indent {
    padding-left: calc(4ex);
}
.shrink .tile .op, .shrink .tile .cmpop, .shrink .lbrace {
    padding-left: 1ex;
    padding-right: 1ex;
    font-weight: normal;
}
.growing .tile {
    transition: left 1s, top 1s, background-color 1s;
}
.growing .hole.multi .tile {
    transition: left 1s, top 1s, background-color 1s, padding 0.5s, border-width 0.5s;
}
.shrink input {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    margin-left: -1px;
}
#acknowledgements {
    font-size: 10px;
}
#toolbox .tile.some-dialects {
    display: none;
}
#toolbox.in-dialect-logo .tile.only-dialect-logo {
    display: inline-flex;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
}
ul.popup-menu {
    border: 2px outset gray;
    background: white;
    position: absolute;
    list-style-type: none;
    padding-left: 0;
    z-index: 300;
}
ul.popup-menu li {
    display: block;
    padding-left: 1ex;
    padding-right: 1ex;
    cursor: default;
}
ul.popup-menu li:hover {
    background: #008;
    color: white;
}
.overlaid-error {
    position: absolute;
    display: none;
    background: pink;
    border: 2px solid hsl(330, 75%, 65%);
    z-index: 300;
}

@media only screen and (max-width: 640px) {
    #codearea {
        width: calc(100% - 205px);
    }
    #toolbox {
        width: 100px;
    }
    #standard-canvas {
        width: 125px;
        height: 125px;
        left: calc(100% - 127px);
    }
    #outputarea {
        width: 130px;
    }
    #outputarea textarea {
        width: 120px;
        margin-top: 130px;
        height: 120px;
    }
    #category-bar {
        left: calc(100% - 137px);
    }
    #category-bar input {
        font-size: 10px;
    }
}
