@font-face {
    font-family: entypo;
    src: url('entypo.woff');
}
html, body {
    font-size: 16px;
}
#codearea {
    width: 500px;
    height: 500px;
    background: #ddd;
    position: relative;
    float: left;
    overflow: auto;
}
.tile.operator {
    background: #9b9;
    border: 2px outset #060;
}
.tile.comparison-operator {
    background: #44d;
    border: 2px outset #00b;
}
.tile.request {
    background: #b99;
    border: 2px outset #600;
}
.tile.vardec {
    background: #c44;
    border: 2px outset #c00;
}
.tile.var {
    background: #eaa;
    border: 2px outset #c00;
}
.tile.assign {
    background: #ccc;
    border: 2px outset #888;
}
.tile.number {
    background: #8c8;
    border: 2px outset #080;
}
.tile.string {
    background: #cec;
    color: #080;
    border: 2px outset #0c0;
}
.tile.string input {
    color: #080;
}
.tile.if {
    background: #88c;
    border: 2px outset #008;
    flex-direction: column;
    align-items: flex-start;
    -webkit-flex-direction: column;
    -webkit-align-items: flex-start;
}
.tile.while {
    background: #88c;
    border: 2px outset #008;
    flex-direction: column;
    align-items: flex-start;
    -webkit-flex-direction: column;
    -webkit-align-items: flex-start;
}
.tile.if > div, .tile.while > div, .tile.method > div {
    display: inline-flex;
    display: -webkit-inline-flex;
    align-items: center;
    -webkit-align-items: center;
}
.tile.method {
    background: #4dd;
    border: 2px outset #088;
    flex-direction: column;
    align-items: flex-start;
    -webkit-flex-direction: column;
    -webkit-align-items: flex-start;
}
.tile.print {
    background: #cc8;
    border: 2px outset #880;
}
.tile.dialect-request {
    background: #d4d;
    border: 2px outset #808;
}
.tile.constant {
    background: #d48;
    border: 2px outset #804;
}
.tile.selfcall {
    background: #a1a;
    border: 2px outset #606;
}
.tile {
    padding: 1px;
    width: auto;
    height: auto;
    display: inline-flex;
    display: -webkit-inline-flex;
    float: left;
    position: absolute;
    white-space: nowrap;
    align-items: center;
    -webkit-align-items: center;
    transition: opacity 0.5s;
}
.tile.locked::after {
    content: "\01F512";
    font-family: entypo;
    float: right;
}
.tile span {
    display: inline-flex;
    display: -webkit-inline-flex;
}
.tile input {
    border: none;
}
.tile input[type=text] {
    font-family: monospace;
}
.tile.number input {
    color: blue;
}
.selected {
    z-index: 999;
    opacity: 0.5;
    cursor: default;
}
.hole {
    background: #aaa;
    display: inline-flex;
    display: -webkit-inline-flex;
    width: auto;
    min-height: 14px;
}
.hole:empty {
    min-width: 2em;
}
#toolbox {
    background: #ccf;
    float:left;
    height: 500px;
    width: 200px;
    overflow: auto;
}
#toolbox .tile {
    position: static;
    clear: both;
}
.tile .op, .tile .cmpop {
    display:inline-flex;
    display: -webkit-inline-flex;
    padding-left: 4px;
    padding-right: 4px;
    font-weight: bold;
    color: #687687;
}
#gracecode {
    //float: left;
    //width: 200px;
    //height: 500px;
}
.tile.bottom-join-target {
    border-bottom-color: yellow;
    border-bottom-style: solid;
}
.hole.multi {
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: flex-start;
    display: flex;
    display: -webkit-flex;
}
#bin {
    position: absolute;
    top: 0;
    right: 0;
    font-family: entypo;
    font-size: 80px;
    color: #444;
    line-height: 70%;
    cursor: default;
}
.tile.over-bin {
    opacity: 0.25;
    transition: opacity 0s;
}
.tile.over-bin, .over-bin .tile, .over-bin .hole {
    background: red;
    border-color: red;
}
.indent {
    padding-left: 2ex;
}
#codearea.shrink, #codearea.growing {
    background: white;
}
.tile {
    transition: background-color 0.5s, padding 0.5s, border-width 0.5s;
}
.shrink .tile, .shrink .hole {
    padding: 0;
    border: 0 !important;
    background: none;
    min-width: 0;
    transition: left 1s, top 1s, background-color 0.5s, padding 0.5s, border-width 0.5s;
    font-family: 'Monaco','Menlo','Ubuntu Mono','Droid Sans Mono','Consolas',monospace;
}
.shrink .indent {
    padding-left: 4ex;
}
.shrink .tile .op, .shrink .tile .cmpop {
    padding-left: 1ex;
    padding-right: 1ex;
    font-weight: normal;
}
.growing .tile {
    transition: left 1s, top 1s, background-color 1s;
}
.growing .hole.multi .tile {
    transition: left 1s, top 1s, background-color 1s, padding 0.5s, border-width 0.5s;
}
.shrink input, .shrink select {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
}
#acknowledgements {
    font-size: 10px;
}
#toolbox .tile.some-dialects {
    display: none;
}
#toolbox.in-dialect-logo .tile.only-dialect-logo {
    display: inline-flex;
    display: -webkit-inline-flex;
}
